.logo_img{
    height: 60px;
    width: 60px;
}


body{
    margin: 0;
    background-color: #e0e0e0;
    font-family: "Ubuntu", sans-serif;
}

.login, .contact_us_btn{
    color: black;
    text-decoration: none;
}

.login{
    padding-right: 2%;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.header_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.copyrights{
    font-size: 10px;
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact_us_btn{
    margin-left: 2%;
}

.media{
    margin-right: 2%;
}

.booking{
    display: flex;
}

.content_div{
    margin-top: 90px;
    margin-bottom: 90px;
}

.header_div, .footer_div{
    background-color: rosybrown;
    z-index: 1;
}


.hotel_img{
    height: 500px;
    width: 500px;
    margin: 2%;
}

.hotel_img_div{
    margin: 2% 0 2% 2%;
    border: 1px solid black;
    border-right: white;
    width: 65%;
    height: 531px;
}

.carousel_div{
    height: 650px;
    width: 650px;
    margin: 2% 10% 2% 10%;
    z-index: 3;
}

.carousel{
    
    width: 625px;
    
}


.form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 5%;
    height: 400px;
}

.form label {
    margin: 5px 80px 5px 0;
    width: 80px;
    display: inline-block;
}

.cust_info{
     width: 200px;
}

.book_btn{
    padding: 10px;
    
}

.form_div{
    border: 1px solid black;
    margin: 2% 2% 5% 0;
    padding: 0%;
    width: 35%;
    height: 531.5px;
}

.sub_heading1, .sub_heading2{
    font-family: cursive;
}

.sub_heading1{
    font-weight: bold;
}

.description{
    margin: 1% 4% 2% 4%;
}

.social_media{
    height: 20px;
    width: 22px;
}

.checked{
    color: orange;
    margin-bottom: 2%;
}